torch==2.2.1
numpy==1.26.4
transformers==4.39.1
lightning==2.2.1
pillow==10.2.0
matplotlib==3.8.4
graphviz==0.20.3
pandas==2.2.1
torchvision==0.17.2
dataset==1.6.2
datasets==2.19.0
torchtext==0.17.2
config==0.5.1
tokenizers==0.15.2
tensorboard==2.16.2